<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs121.jam.chirps" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity_label" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".LoginActivity" >
        </activity>
        <activity
            android:name=".ChirpSubmissionActivity"
            android:label="@string/title_activity_chirp_submission"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".ChirpDetailsActivity"
            android:label="@string/title_activity_chirp_details"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="User Profile" >
        </activity>
    </application>

</manifest>
