<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs121.jam.chirps" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name="cs121.jam.chirps.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cs121.jam.chirps.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".SearchActivity"/>
        </activity>
        <activity
            android:name="cs121.jam.chirps.LoginActivity"
            android:label="@string/login_activity_label" />
        <activity
            android:name="cs121.jam.chirps.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName="cs121.jam.chirps.LoginActivity" >
        </activity>
        <activity
            android:name="cs121.jam.chirps.ChirpSubmissionActivity"
            android:label="@string/title_activity_chirp_submission"
            android:launchMode="singleTop"
            android:parentActivityName="cs121.jam.chirps.MainActivity" >
        </activity>
        <activity
            android:name="cs121.jam.chirps.ChirpDetailsActivity"
            android:label="@string/title_activity_chirp_details"
            android:launchMode="singleTop"
            android:parentActivityName="cs121.jam.chirps.MainActivity" >
        </activity>
        <activity
            android:name="cs121.jam.chirps.UserProfileActivity"
            android:label="User Profile" >
        </activity>
        <activity
            android:name="cs121.jam.chirps.ResetPasswordActivity"
            android:label="Reset Password"
            android:parentActivityName="cs121.jam.chirps.MainActivity"
            >
        </activity>
        <activity
            android:name="cs121.jam.chirps.SearchActivity"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:parentActivityName="cs121.jam.chirps.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>
